/* Singular
---------------------------------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */

h1.front {
	display: none;
}

.site-inner {
	padding-left: var(--wp--custom--layout--padding);
	padding-right: var(--wp--custom--layout--padding);
}

.entry-content,
.block-area {

	& > * {
		margin: 0 auto;
		max-width: var(--wp--custom--layout--page);

		&.alignwide {
			max-width: var(--wp--custom--layout--wide);
		}

		&.alignfull {
			margin-left: calc( -1 * var(--wp--custom--layout--padding) );
			margin-right: calc( -1 * var(--wp--custom--layout--padding) );
			max-width: 100vw;
		}

		@include media("<tablet") {
			&.alignwide {
				margin-left: calc( -1 * var(--wp--custom--layout--padding) );
				margin-right: calc( -1 * var(--wp--custom--layout--padding) );
				max-width: 100vw;
			}
		}

	}

	& > * + * {
		margin-top: var( --wp--style--block-gap );
	}

	& > .alignfull,
	& > .wp-block-separator {

		&:not(:first-child) {
			margin-top: var(--wp--custom--layout--block-gap-large);
		}

		&:not(:last-child) {
			margin-bottom: var(--wp--custom--layout--block-gap-large);
		}
	}


	& > .alignfull.has-background + .alignfull.has-background {
		margin-top: calc( -1 * var(--wp--custom--layout--block-gap-large) );
	}

}

.full-width-content .entry-content {

	&:first-child > .alignfull.has-background:first-child {
		margin-top: calc( -1 * var(--wp--custom--layout--block-gap-large) );
	}

	&:last-child > .alignfull.has-background:last-child {
		margin-bottom: calc( -1 * var(--wp--custom--layout--block-gap-large) );
	}
}

/* Single Post
--------------------------------------------- */

.entry-header,
.entry-footer,
.after-entry,
.entry-comments {
	max-width: var(--wp--custom--layout--page);
	margin-left: auto;
	margin-right: auto;
}

.entry-footer {
	margin-top: 48px;
}

.block-area-after-post {
	margin: 32px 0;
}

/* Comments
--------------------------------------------- */

.entry-comments {

	h2, h3 {
		display: flex;
		justify-content: space-between;
	}

	.comment-list {
		margin: 0 0 32px;
		padding: 0;

		li {
			list-style-type: none;
			margin-top: 4px;

			& + li {
				border-top: 1px solid var(--wp--custom--color--neutral-300);
				padding-top: 24px;
			}

			article {
				border-left: 4px solid var(--wp--custom--color--neutral-300);
				padding: 16px;
				position: relative;
			}

			&.staff > article {
				border-color: var(--wp--preset--color--primary);
			}

			&:not(.staff) > article .avatar {
				display: none;
			}
		}

		& > li {
			overflow: hidden;
			margin-top: 24px;

			&:first-child {
				margin-top: 0;
			}
		}

		.comment-author {
			color: var(--wp--preset--color--foreground);
			font-size: var(--wp--preset--font-size--large);
			display: inline-block;
			vertical-align: middle;
			margin: 0;

			a {
				color: var(--wp--preset--color--foreground);
				text-decoration: none;
			}

			.says {
				display: none;
			}

			.avatar {
				float: left;
				border-radius: 50%;
				margin-right: 8px;
			}
		}

		.comment-meta {
			padding-right: 54px;
		}

		.comment-metadata {
			font-size: var(--wp--preset--font-size--tiny);
			margin-bottom: 16px;

			a {
				color: var(--wp--preset--color--foreground);
				text-decoration: none;

				&:hover {
					color: var(--wp--preset--color--primary);
				}
			}
		}

		.comment-content {

			p:last-child {
				margin: 0;
			}
		}

		.comment-reply-link {
			position: absolute;
			top: 32px;
			right: 16px;
			font-family: var(--wp--custom--typography--interface--font-family);
			letter-spacing: var(--wp--custom--typography--interface--letter-spacing);
			text-transform: var(--wp--custom--typography--interface--text-transform);
			font-size: var(--wp--preset--font-size--small);
		}

		ol.children {
			margin: 0;
			padding: 0;
		}

	}
}

.comment-respond {
	margin: 30px 0;

	@include media(">=tablet") {
		margin: 60px 0;
	}

	.comment-form-cookies-consent input {
		width: auto;

		& + label {
			display: inline;
		}
	}

	label {
		display: block;
	}

}

.nav-links {
	display: flex;
	justify-content: space-between;
}
